<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>微瞰智能</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport" />
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/unslider.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <style media="screen">
      .container {
        max-width: 768px;
      }
    </style>
  </head>
  <body>
    <div class="w1">
      <div class="background2">
        <!-- 页面顶部的透明背景区域 -->
      </div>
      <div class="background3">
        <!-- 页面右边的透明背景区域 -->
      </div>
      <div class="background5">
        <!-- 页面左边的透明背景区域 -->
      </div>
      <!-- 版心部分 start -->
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                  <!-- <span class="sr-only">Toggle navigation</span> -->
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <button type="button" class="btn-hide navbar-toggle">
                  <span class="icon-x"></span>
              </button>
              <a class="navbar-brand" href="#">
                <!-- <div class="shadow my__center_y"></div> -->
                <img class="my__center_y" src="/static/images/logo.png" alt="">
              </a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="background7">
                <!-- special for mobile nav -->
            </div>
            <div class="background8">
                <!-- special for mobile nav -->
            </div>
            <div class="background9"></div>

            <ul class="nav navbar-nav">
                <li><a href="#company">我们是谁</a></li>
                <li><a href="#product">主要产品</a></li>
                <li><a href="#team">团队成员</a></li>
                <li><a href="#contact">联系我们</a></li>
                <li><a href="http://deepeye.cc">解决方案</a></li>

              </ul>
          </div>

        </div>
      </nav>
      <!-- 版心部分 end -->
      <!-- company 部分 start -->
      <section id="company">
        <div class="container">

          <!-- <p>我们是</p> -->
          <h1 class="h1">微瞰智能</h1>
          <!-- <p>Awakening Intelligence</p> -->
          <div class="explain_regular">
            <p>致力于将人工智能应用于数字病理大数据，</p>
            <p class="l">为患者和医疗机构提供更加精准、高效和低成本的病理诊断整体解决方案。</p>
          </div>
          <div class="">
            <div class="flex_icon">
              <div class="img"><img src="/static/images/准确.png" alt=""></div>
              <div class="img"><img src="/static/images/快速.png" alt=""></div>
              <div class="img"><img src="/static/images/低成本.png" alt=""></div>
            </div>
            <div class="icon_explain explain_regular">
              <span class="">准确</span>
              <span class="">快速</span>
              <span class="">低成本</span>
            </div>
          </div>
          <div class="space111"></div>
          <h2 class="h2">愿景</h2>
          <div class="white_line"></div>
          <div class="explain_regular">
            <p>为患者提供准确、快速、普惠的病理诊断</p>
            <p>为医生提供便捷、高效的辅助病理诊断系统</p>
            <p>促进优质病理诊断资源的下沉与优化配置，促进分级治疗</p>
          </div>

        </div>
      </section>
      <!-- company 部分 end -->

      <div class="space149"></div>
      <!-- product 部分 start -->
      <section id="product">
        <div class="container">
          <!-- <p>主要产品</p> -->
          <div class="space67"></div>

          <div class="serial-title1">
            <div class="serial-content">
              <h2 class="h2">数字病理图像分析系统</h2>
              <!-- <div class="gotham_border"><p>Digital Pathology Analytics Systems</p></div> -->
            </div>
          </div>
          <div class="white_line"></div>
          <div class="works w1 clearfix">
            <div data-boxnumber=0 class="fl w20 box clearfix active">
              <div class="img"></div>
              <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span>
            </div>
            <div data-boxnumber=1 class="fl w20 box clearfix">
              <div class="img"></div>
              <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span>
            </div>
            <div data-boxnumber=2 class="fl w20 box clearfix">
              <div class="img"></div>
              <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span>
            </div>
            <div data-boxnumber=3 class="fl w20 box clearfix">
              <div class="img"></div>
              <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span>
            </div>
            <div data-boxnumber=4 class="fl w20 box clearfix">
              <div class="img"></div>
              <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span>
            </div>

          </div>
          <div class="tabC">
            <div class="tabContent" style="display: block;">
              <p class="my__center">数字化病理样本的存储、展现、处理（标记/切割/计数）、诊断、审核、交互</p>
            </div>
            <div class="tabContent"><p class="my__center">数字病理理远程会诊</p></div>
            <div class="tabContent"><p class="my__center">科室内外协作</p></div>
            <div class="tabContent"><p class="my__center">可与CIS、EMR整合，实现以临床或患者为中⼼心的数据集成</p></div>
            <div class="tabContent"><p class="my__center">基于人工智能的数字病理图像分析模块（包括肺癌，乳腺癌，结直肠癌，肝癌，胃癌等肿瘤数字病理图像分析模块）</p></div>
          </div>
          <div class="space149"></div>
          <div class="serial-title2">
            <div class="serial-content">
              <p class="h2">基于人工智能的数字病理图像处理和分析算法</p>
            </div>
          </div>
          <div class="white_line"></div>
          <div class="explain_sm">
            <ul class="scrollbar">
              <li>数字病理图像可大致分为细胞、组织和免疫组化三大类。我们的算法涉及各类数字病理图像中各类细胞和腺体组织的识别、计数、分类和切割算法，以及染色、纹理和形态的分析，用于辅助判别癌症肿瘤的性质及分型分级分期，可极大提高病理医生的诊断效率和精准度。我们的算法可被广泛拓展和应用于乳腺癌，结直肠癌，肺癌，肝癌，前列腺癌等常见高发癌种。</li>
              <li>免疫组化检查是乳腺癌当前最精准和通用的病理诊断手段之一，它通过化学反应使标记抗体的显色剂显色来确定组织和细胞内抗原（或抗体），对其进行定位、定性及相对定量的研究。因此，这涉及大量的关于病理图像中染色、组织和细胞核的数据的提取和分析。</li>
              <li>核异型性评分也是一种常用的用于多种癌症的肿瘤分级的测量量化标准，常用于乳腺癌的组织病理图像中。这项评分涉及到细胞核的计量、及形态和外表的差异性和测量和分析。</li>
              <li>子宫内膜白细胞数量超出正常，会导致白细胞攻击受精卵使其无法正常着床，从而导致不孕。其病理图像中二氨基联苯胺染色、基质细胞、白细胞、上皮组织细胞的的定位和计量，以及腺体的上皮组织区域的分割，在其病理诊断中扮演重要角色。</li>
              <li>在以上场景中，我们的图像处理和分析算法均可快速且精准的将所需的相关数据提取出，用以帮助病理医生进行诊断和预后评估，极大降低病理医生在镜下的工作量，提高其工作效率和精准度，并最大程度地去除其判断的主观性。</li>
              <li>原发于结直肠的腺体组织上的肿瘤是结直肠癌的最常见形式，我们研究成果可在结直肠的组织病理图像中快速和准确地识别和分割腺体，并提取其形态学和结构性的特征用于量化分析。在临床实践中，这些特征数据是病理医生评估预后和制定个体专属治疗方案的核心依据。</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- product 部分 end -->
      <div class="space149"></div>
      <!-- market 部分 start -->
      <section id="market">
        <div class="container">
          <!-- <p>市场规模</p> -->
          <div class="market-size">
            <div class="background4"></div>
            <div class="banner">
              <ul>
                <li><div class="">
                  <p class="explain">中国2015年新增</p>
                  <p class="h2">癌症患者<span class="">429.2万</span></p>
                  <p class="h2">死亡癌症患者<span class="">281.4万</span></p>
                  <p class="explain">(CA《中国癌症统计》)</p>
                </div></li>
                <li><div class="market2">
                  <p class="h2">组织病理</p>
                  <p class="h2">细胞病理</p>
                  <p class="h2">免疫组化</p>
                  <p class="h2">约<span class="">200亿人民币/年</span></p>
                </div></li>
                <li><div class="market3">
                  <p class="h2">病理诊断外包已达到</p>
                  <p class="h2"><span>5-10亿/年，</span>并以<span>30%/年</span></p>
                  <p class="h2">以上的速度增长</p>
                </div></li>
                <li><div class="market4">
                  <p class="explain">作为精准医疗的最主要应用方向，</p>
                  <p class="h2"><span>分子病理</span>的发展势不可挡，</p>
                  <p class="h2">而分子病理依赖于</p>
                  <p class="h2"><span>数字病理</span>的先验分析。</p>
                </div></li>
              </ul>
            </div>
            <div class="space67"></div>
          </div>
        </div>
      </section>
      <!-- market 部分 end -->
      <!-- team 部分 start -->
      <section id="team">
        <div class="container">
          <!-- <p>团队成员</p> -->

          <div class="h2">
            <p>核心成员</p>
          </div>
          <!-- <div class="gotham_border"><p>Core members</p></div> -->
          <div class="white_line"></div>
          <div class="members clearfix">
            <!-- 第一个 ceo -->
            <div data-boxnumber=0 class="box active">
              创始人
              <!-- <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span> -->
              <div class="gray-line"></div>
            </div>
            <div class="tabContent" style="display: block;">
              <div class="member-l">
                  <p class="h2">李冠男</p>
                  <div class="wl"></div>
                  <p class="explain">博士</p>
              </div>
              <div class="member-r">
                <ul class="explain_regular">
                  <li>英国华威大学计算机系博士毕业</li>
                  <li>华威大学计算机系组织图像分析实验室（生物图像分析实验室，数字病理分析领域的先行者）成员</li>
                  <li>在多个国际学术会议和期刊发表上过多篇数字病理图像处理和分析论文</li>
                </ul>
              </div>
            </div>
            <div data-boxnumber=1 class="box">
              联合创始人
              <!-- <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span> -->
              <div class="gray-line"></div>
            </div>
            <div class="tabContent">
              <div class="member-l">
                  <p class="h2">徐丰</p>
                  <div class="wl"></div>
                  <p class="explain">coo</p>
              </div>
              <div class="member-r">
                <ul class="explain_regular">
                  <li>诊断级远程医学影像服务平台 www.51dupian.com 联合创始人</li>
                  <li>多年互联网医疗创业经验</li>
                </ul>
              </div>
            </div>
            <div data-boxnumber=2 class="box">
              科研顾问
              <!-- <span class='arrow'><img src="/static/images/arrow-top.png" alt=""></span> -->
              <div class="gray-line"></div>
            </div>
            <div class="tabContent">
              <div class="member-l">
                  <p class="h2">Nasir Rajpoot</p>
                  <div class="wl"></div>
                  <p class="explain">教授</p>
              </div>
              <div class="member-r">
                <ul class="explain_regular">
                  <li>英国华威大学计算机系教授</li>
                  <li>组织图像分析实验室创始人</li>
                  <li>英国NHS数字病理卓越中心主任</li>
                </ul>
                <ul class="explain_regular">
                  <li>国际知名数字病理图像专家</li>
                  <li>IEEE高级会员</li>
                  <li>美国计算机协会会员</li>
                  <li>英国癌症研究协会会员</li>
                  <li>欧洲癌症研究协会员</li>
                </ul>
                <ul class="explain_regular">
                  <li>英国NHS乳腺癌人工智能</li>
                  <li>病理诊断研究负责人</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- team 部分 end -->
      <!-- join_us 部分 start -->
      <section id="join_us">
        <div class="space111"></div>
        <div class="container">
          <div class="h2">
            招贤纳士
          </div>
          <div class="white_line"></div>
          <ul class="jobs">
            <p>UI 设计师</p>
            <p>前端开发工程师</p>
            <p>后端 Python 工程师</p>
            <p>计算机视觉算法工程师</p>
          </ul>


        </div>
      </section>
      <!-- join_us 部分 end -->
      <div class="space149"></div>

      <!-- contact 部分 start -->
      <section id="contact">
        <div class="background6">
          <!-- 底部的白色区域 -->
        </div>
        <div class="container">
          <div class="h2">
            联系我们
          </div>
          <div class="white_line"></div>
          <div class="explain_regular">
            <p>电话：021-67991207</p>
            <p>联系邮箱：biz@awkint.com</p>
            <p>地址：上海市浦东新区博霞路22号408室</p>
          </div>

        </div>
      </section>
      <!-- contact 部分 end -->
      <footer>
        <div class="container">
          <div class="copyright">

            <div>Copyright 2017 Awakening Inc.All rights reserved.</div>
            <div>privacy</div>
          </div>
        </div>
      </footer>
      <a href="#" class="scrollup"><img class="my__center" src="/static/images/arrow-top.png" alt=""></a>

    </div>
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.scrollTo.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.localScroll.min.js" charset="utf-8"></script>
    <script src="/static/js/unslider.js" charset="utf-8"></script>
    <script src="/static/js/index.js" charset="utf-8"></script>
  </body>
</html>
