@import "variable";
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: $font;
  font-size: 12px;
}
body{
  font-family: $font;
  position: relative;
  width: 100%;
  // height: 100%;
  overflow-x: hidden;
  background-color: $white;
  color: $black;
  z-index: -6;
}
.container > p {
  font-weight: bold;
}

.container {
  max-width: 768px;
}

// @media screen and (max-width: 440px) {
//   .navbar-brand {
//     height: 60px;
//     line-height: 60px;
//     > img {
//       top: 20%;
//       width: 30px;
//     }
//   }
// }



.w1 {
  text-align: center;
}

.h1 {
  font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
  font-size: 5rem;
  font-weight: 700;
}
.h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 13%;
}
.h3 {
  font-size: 3rem;
  font-weight: normal;
}

.explain {
  font-size: 1.5rem;
  font-weight: 500;
}
.explain_regular, .explain_regular > p, .title {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
}

.white_line {
  margin: 14px auto 35px;
  width: 45px;
  height: 6px;
  background-color: $white;
  border-radius: 4px;
}

.space149 {
  width: 100%;
  height: 0;
  margin-bottom: 149px;
  @media screen and (max-width: 440px) {
    margin-bottom: 90px;
  }
}
.space111 {
  width: 100%;
  height: 0;
  margin-bottom: 111px;
}
.space34 {
  width: 100%;
  height: 0;
  margin-bottom: 34px;
}
.space67 {
  width: 100%;
  height: 0;
  margin-bottom: 67px;
}

footer {
  height: 62px;
  background-color: $black;
  .copyright {
    display: flex;
    height: 62px;
    justify-content: center;
    align-items: center;
      font-size: 12px;
    font-weight: normal;
    color: #585858;
  }
}
