@charset "UTF-8";

@font-face {font-family: 'Noto SansCJK';
    src: url('../fonts/Noto-SansCJK-webfont.eot'); /* IE9*/
    src: url('../fonts/Noto-SansCJK-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Noto-SansCJK-webfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/Noto-SansCJK-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/Noto-SansCJK-webfont.svg#webfont') format('svg'); /* iOS 4.1- */
    font-weight: normal;
}
// @font-face {font-family: 'Noto SansCJK';
//     src: url('../fonts/Noto-SansCJK-light-webfont.eot'); /* IE9*/
//     src: url('../fonts/Noto-SansCJK-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//     url('../fonts/Noto-SansCJK-light-webfont.woff') format('woff'), /* chrome、firefox */
//     url('../fonts/Noto-SansCJK-light-webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//     url('../fonts/Noto-SansCJK-light-webfont.svg#webfont') format('svg'); /* iOS 4.1- */
//     font-weight: lighter;
// }
// 字体
$font: 'PingFang SC','gothamregular',Helvetica,"Noto SansCJK","Arial","Microsoft YaHei","宋体","黑体",sans-serif;
//  颜色
// $blue-0: #43089D;
// $blue-1: #4608ad;
// $blue-2: #4d2dc3;
$black: #383c3c;
$white: #fbfaf5;
$bgc: #363636;
$gray: #999b98;
$border-gray: #e9e8e4;

// 背景层数
// 边框圆角的 半径
$radius: 2px;
