@charset "UTF-8";
// 字体
$cnfont: 'PingFang SC',"Arial","Microsoft YaHei","宋体","黑体",sans-serif;
// $cnfont: 'PingFang SC',"Arial","宋体","Microsoft YaHei","黑体",sans-serif;
$enfont: 'gothamregular',"Arial",Helvetica;
//  颜色
$blue-0: #43089D;
$blue-1: #4608ad;
$blue-2: #4d2dc3;
$black: #383c3c;
$white: #fbfaf5;
$bgc: #363636;
$gray: #999b98;
$border-gray: #e9e8e4;

// 背景层数
// 边框圆角的 半径
$radius: 2px;
