@charset "UTF-8";
@import "./base.scss";

@import "./common.scss";
@import "background";
@import "mixin";

.w1 > .navbar-default {
  position: relative;
  overflow-x: hidden;
  background: none;
  border: none;
  .navbar-brand {
    // position: fixed;
  }
  .navbar-collapse {
    border: none;
    box-shadow: none;
  }
  .navbar-collapse.in{
    height: 100%;
  }
}

.navbar-default .navbar-nav > li {
  padding-top: 35px;
  margin-left: 15px;
  margin-right: 22px;
  padding-bottom: 40px;
  border-top: 5px solid $blue-2;

  a {
    padding: 0;
    margin: 15px 0;
    color: $white;
    &:hover, &:focus {
      color: $white;
    }
  }
  &:hover {
    border-top-color: $white;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li {
    padding-top: 30px;
    margin-right: 7px;
    padding-bottom: 30px;
    border-top: none;
    a {
      font-size: 20px;
      color: $white;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      border-top-color: $blue-2;
    }
  }
}
@media screen and (max-width: 380px) {
  .navbar-default .navbar-nav > li {
    padding-top: 15px;
    margin-right: 7px;
    padding-bottom: 15px;
    border-top: none;
  }
}

.navbar-default .navbar-toggle {
  border: none;
  background: none;
  .icon-bar {
    background-color: $white;
  }
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}


/* user defined navbar */
@media screen and (max-width: 760px) {
    .background7 {
        background-color: #43089d;
        position: absolute;
        width: 100%;
        opacity: 0.05;
    }
    .background8 {
        background-color: #363636;
        position: absolute;
        width: 100%;
        opacity: 0.05;
    }
    .background9 {
        background-color: #43089d;
        position: absolute;
        width: 100%;
        opacity: 0.05;
    }
    #bs-example-navbar-collapse-1 a {
        font-size: 20px;
    }
    #bs-example-navbar-collapse-1 .nav {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        height: 100%;
    }
    #bs-example-navbar-collapse-1 .nav li {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .navbar-header .icon-x {
        display: block;
        border: none;
        height: 22px;
        width: 22px;
        background-image: url(../images/cross.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .btn-hide {
        display: none;
    }
    nav .container {
        position: relative;
    }

}




.icon_explain, .flex_icon {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 1.5rem;

}

.flex_icon{
  height: 135px;
  .img {
    width: 60px;
  }
}

.icon_explain > span:nth-child(2) {
  margin-right: 6px;
  padding-left: 16px;
}



#team {
  margin-top: 149px;
  text-align: center;
}

.members {
  width: 84%;
  min-width: 280px;
  margin: auto;
  > .tabContent {
    display: none;
    // padding-left: 7%;
    width: 100%;
    height: 441px;
    background-color: $blue-1;
    .member-l {
      padding-left: 7%;
      height: 305px;
      text-align: left;
      .wl {
        height: 7px;
        width: 45px;
        background-color: $white;
        @media screen and (max-width: 760px) {
          height: 4px;
          width: 30px;
        }
      }
      p:nth-child(1) {
        margin-top: 146px;
        margin-bottom: 44px;
      }
      p:nth-child(2) {

      }
    }
    &:nth-of-type(7) {
      .member-l > p:first-child {
        margin-top: 116px;
      }
    }

    .member-r {
      display: -webkit-flex;
      display: flex;
      padding: 0 4%;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
      > .explain_regular {
        line-height: 1;
      }
      > .explain_regular:nth-child(1) {
        margin-top: 30px;
        margin-bottom: 50px;
      }
      > .explain_regular:nth-child(2) {
        margin-bottom: 50px;
      }
      > .explain_regular:nth-child(3) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: 760px) {

      }
    }
  }
  > .tabContent:nth-of-type(3) {
    .member-l {}
  }
  > .box {
    position: relative;
    height: 6rem;
    background-color: $white;
    line-height: 5rem;
    font-family: $cnfont;
    font-size: 12px;
    font-weight: bold;
    color: $black;
    cursor: pointer;
    .arrow {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 10%;
      width: 10px;
      height: 10px;
      transform: translateX(-50%);
      @media screen and (max-width: 760px) {
        width: 8px;
        height: 8px;
      }
      transition: all 0.5s;
    }
  }
  // 激活状态下的 box
  > .box.active {
    background-color: $blue-1;
    color: $white;
    border-bottom: 1px solid $blue-1;
    .arrow {
      transform: translateX(-50%) rotate(180deg);
    }
  }
  .box:nth-of-type(1) {
    border-top-left-radius: $radius;
    border-right: 1px solid $gray;
  }
  .box:nth-of-type(2) {
    border-top-right-radius: $radius;
  }
  .box:nth-of-type(5) {
    border-bottom-left-radius: $radius;
    border-right: 1px solid $gray;
    border-top: 1px solid $gray;
    @media screen and (max-width: 760px) {
      // border-right: 1px solid $blue-1;
      // border-top: 1px solid $blue-1;
    }
  }
  .box:nth-of-type(6) {
    border-bottom-right-radius: $radius;
    border-top: 1px solid $gray;

  }
}


#product {
  .serial-title, .serial-title1, .serial-title2, .serial-title3, .serial-title4,  {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    // position: relative;
    // margin-left: 10rem;
    text-align: left;
    vertical-align: top;
    .serial-number {
      // position: absolute;
      // left: -10rem;
      margin-left: 10px;
      margin-right: 10px;
      font-family: $enfont;
      font-size: 9rem;
      font-weight: bolder;
      line-height: 9rem;
    }
    .serial-content > .h2 {
      margin: 0;
      line-height: 1.2;
    }
    .serial-content > .h3 {
      margin: 0;
      line-height: 1.4;
    }
  }
  .serial-title1 > .serial-content {
    // 数字 1 后面的内容要多写一个响应式
    @media screen and (max-width: 380px) {
      .h2 {
        font-size: 28px;
      }
      .gotham_border > p {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 330px) {
      .h2 {
        font-size: 24px;
      }
      .gotham_border > p {
        font-size: 12px;
      }
    }
  }
  .serial-title3 {
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-bottom: 5.5rem;
  }

  .works {
    display: -webkit-flex;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-end;
    align-content: flex-start;
    margin: 0 auto;
    max-width: 646px;
    height: 125px;
    @media screen and (max-width: 760px) {
      height: 100px;
    }
    @media screen and (max-width: 600px) {
      height: 75px;
    }
    @media screen and (max-width: 380px) {
      height: 66px;
    }
    .box:first-child {
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }
    .box:last-child {
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    .box {
      position: relative;
      height: 100%;
      // width: 129.2px;
      // height: 125px;
      border-top: 1px solid $gray;
      background-color: $white;
      // background-color: transparent;
      cursor: pointer;
      .img {
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        $work-img-size: 60px;
        $work-img-size-sm: 45px;
        $work-img-size-ssm: 35px;
        width: $work-img-size;
        height: $work-img-size;
        background-size: $work-img-size $work-img-size;
        background-repeat: no-repeat;

        @media screen and (max-width: 760px) {
          width: $work-img-size-sm;
          height: $work-img-size-sm;
          background-size: $work-img-size-sm $work-img-size-sm;
        }
        @media screen and (max-width: 380px) {
          width: $work-img-size-ssm;
          height: $work-img-size-ssm;
          background-size: $work-img-size-ssm $work-img-size-ssm;
        }
      }
    }

    @include box-image(1);
    @include box-image(2);
    @include box-image(3);
    @include box-image(4);
    @include box-image(5);

    .active {
      background-color: $blue-1;
      transition: all 0.5s;
      border-top: 1px solid $blue-1;
    }
    .box + .box {
      border-left: 1px solid $gray;
    }
    .box > .arrow{
      display: block;
      position: absolute;
      left: 50%;
      bottom: 10%;
      width: 12px;
      height: 12px;
      transform: translateX(-50%);
      @media screen and (max-width: 760px) {
        width: 8px;
        height: 8px;
      }
      transition: all 0.5s;
    }
    .box.active > .arrow{
        transform: translateX(-50%) rotate(180deg)
    }
  }

  .tabContent {
    position: relative;
    display: none;
    margin: 0 auto;
    max-width: 646px;
    height: 157px;
    background-color: $blue-1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    p {
      padding: 0 5%;
      width: 100%;
      font-size: 1.5rem;
      color: #fff;
    }
  }
  .explain_sm {
    margin-top: 3rem;
    margin-bottom: 5.5rem;
    margin-left: 85px;
    padding-right: 10px;
    text-align: left;
    @media screen and (max-width: 760px) {
      margin-left: 63px;
    }
    > p {
      font-family: $cnfont;
      font-size: 12px;
      font-weight: normal;
    }
  }
}
@media screen and (max-width: 760px) {
  #product > .container {
    .serial-number {
      line-height: 6rem;
    }
  }
}

#market {
  .market-size {
    position: relative;
    margin-top: 5.5rem;
    padding: 3px 10px;
    text-align: left;
    .market2 {

    }
    .unslider-nav {
      margin-top: 7.9rem;
      ol {
        list-style: none;
        text-align: left;
        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          border: none;
          width: 80px;
          height: 6px;
          background-color: #585858;
          overflow: hidden;
          text-indent: -999em;
          cursor: pointer;
        }
        li.unslider-active {
          background-color: $blue-2;
        }
      }
    }
    .h2 {
      margin-top: 1rem;
      span {
        color: #f0b54a;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size: 8px;
    // font-family: 'Microsoft Yahei' !important;
  }
}

#contact {
  position: relative;
  padding-bottom: 149px;
  color: $blue-2;
  .white_line {
    background-color: $blue-2;
  }
}

.scrollup {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: $black;
  img {
  // i.icon-angle-up {
    width: 18px;
  }
}
