@charset "UTF-8";
@font-face {
  font-family: 'Noto SansCJK';
  src: url("../fonts/Noto-SansCJK-webfont.eot");
  /* IE9*/
  src: url("../fonts/Noto-SansCJK-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto-SansCJK-webfont.woff") format("woff"), url("../fonts/Noto-SansCJK-webfont.ttf") format("truetype"), url("../fonts/Noto-SansCJK-webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
  font-weight: normal; }
@font-face {
  font-family: 'gothamregular';
  src: url("../fonts/gotham-book-webfont.woff2") format("woff2"), url("../fonts/gotham-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch; }

/* 禁止缩放表单 */
input[type="submit"], input[type="reset"], input[type="button"], input {
  resize: none;
  border: none; }

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  -webkit-tap-highlight-color: transparent; }

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* 图片自适应 */
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/ }

/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0; }

em, i {
  font-style: normal; }

strong {
  font-weight: normal; }

.o {
  width: 100%;
  overflow: hidden; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both; }

.clearfix {
  zoom: 1; }

a {
  text-decoration: none;
  color: #969696; }

a:hover {
  color: none;
  text-decoration: none; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

img {
  border: none; }

input {
  outline-style: none; }

.w1 {
  /*width: 100%;*/
  margin: 0 auto; }

.w80 {
  width: 80%; }

.w50 {
  width: 50%; }

.w25 {
  width: 25%; }

.w20 {
  width: 20%; }

.w33 {
  width: 33.333333%; }

.fl {
  float: left; }

.fr {
  float: right; }

.db {
  display: block !important; }

.dn {
  display: none; }

/*单行溢出*/
.one_txt_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/*多行溢出 手机端使用*/
.txt_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

/*精灵图*/
.my_icons:before {
  content: '';
  background: url(../images/icons/jd-sprites.png) 0 0 no-repeat;
  -webkit-background-size: 200px 200px;
  background-size: 200px 200px; }

/*水平 垂直居中*/
.my__center, .scrollup svg, .my_center::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*垂直居中 不水平*/
.my__center_y, .my_center_y::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/*过渡*/
.transition {
  transition: all 0.5s; }

@font-face {
  font-family: 'Noto SansCJK';
  src: url("../fonts/Noto-SansCJK-webfont.eot");
  /* IE9*/
  src: url("../fonts/Noto-SansCJK-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto-SansCJK-webfont.woff") format("woff"), url("../fonts/Noto-SansCJK-webfont.ttf") format("truetype"), url("../fonts/Noto-SansCJK-webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
  font-weight: normal; }
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "PingFang SC", "gothamregular", Helvetica, "Noto SansCJK", "Arial", "Microsoft YaHei", "宋体", "黑体", sans-serif;
  font-size: 12px; }

body {
  font-family: "PingFang SC", "gothamregular", Helvetica, "Noto SansCJK", "Arial", "Microsoft YaHei", "宋体", "黑体", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #fbfaf5;
  color: #383c3c;
  z-index: -6; }

.container > p {
  font-weight: bold; }

.container {
  max-width: 768px; }

.w1 {
  text-align: center; }

.h1 {
  font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, serif;
  font-size: 5rem;
  font-weight: 700; }

.h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 13%; }

.h3 {
  font-size: 3rem;
  font-weight: normal; }

.explain {
  font-size: 1.5rem;
  font-weight: 500; }

.explain_regular, .explain_regular > p, .title {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4; }

.white_line {
  margin: 14px auto 35px;
  width: 45px;
  height: 6px;
  background-color: #fbfaf5;
  border-radius: 4px; }

.space149 {
  width: 100%;
  height: 0;
  margin-bottom: 149px; }
  @media screen and (max-width: 440px) {
    .space149 {
      margin-bottom: 90px; } }

.space111 {
  width: 100%;
  height: 0;
  margin-bottom: 111px; }

.space34 {
  width: 100%;
  height: 0;
  margin-bottom: 34px; }

.space67 {
  width: 100%;
  height: 0;
  margin-bottom: 67px; }

footer {
  height: 62px;
  background-color: #383c3c; }
  footer .copyright {
    display: flex;
    height: 62px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: normal;
    color: #585858; }

@font-face {
  font-family: 'Noto SansCJK';
  src: url("../fonts/Noto-SansCJK-webfont.eot");
  /* IE9*/
  src: url("../fonts/Noto-SansCJK-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto-SansCJK-webfont.woff") format("woff"), url("../fonts/Noto-SansCJK-webfont.ttf") format("truetype"), url("../fonts/Noto-SansCJK-webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
  font-weight: normal; }
.w1 .background2 {
  position: absolute;
  width: 100%;
  height: 630px;
  transform: scale(1) rotate(-7deg) translate(12px, -80px) skewX(-7deg);
  background-color: #fbfaf5;
  opacity: 0.03;
  z-index: -5; }
.w1 .background3 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(calc(320px + 60%)) skewX(-7deg);
  background-color: #fbfaf5;
  opacity: 0.05;
  z-index: -4; }
.w1 .background5 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(calc(-390px - 80%)) skewX(-7deg);
  background-color: #fbfaf5;
  opacity: 0.05;
  z-index: -2; }
.w1 .background4 {
  position: absolute;
  width: 800%;
  height: 250%;
  transform: rotate(13deg) translate(-108%, 64%) skewX(-71deg) skewY(-8deg);
  background-color: #383c3c;
  z-index: -3; }
  @media screen and (max-width: 760px) {
    .w1 .background4 {
      transform: rotate(14deg) translate(-84%, 15%) skewX(-71deg) skewY(-8deg); } }
  @media screen and (max-width: 320px) {
    .w1 .background4 {
      transform: rotate(14deg) translate(-102%, 21%) skewX(-71deg) skewY(-8deg); } }
.w1 .background6 {
  position: absolute;
  left: 50%;
  width: 150%;
  height: calc(300px + 110%);
  transform: rotate(7deg) translate(-50%, 90px);
  vertical-align: bottom;
  background-color: #383c3c;
  z-index: -1; }
  @media screen and (max-width: 760px) {
    .w1 .background6 {
      transform: rotate(7deg) translate(-50%, 40px); } }
.w1 .background7 {
  position: absolute;
  left: 0;
  top: -7px;
  background-color: #383c3c;
  width: 100%;
  height: 18%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  z-index: 0; }
.w1 .background9 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #383c3c;
  border: none;
  height: 22%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
  z-index: 3; }

@font-face {
  font-family: 'Noto SansCJK';
  src: url("../fonts/Noto-SansCJK-webfont.eot");
  /* IE9*/
  src: url("../fonts/Noto-SansCJK-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto-SansCJK-webfont.woff") format("woff"), url("../fonts/Noto-SansCJK-webfont.ttf") format("truetype"), url("../fonts/Noto-SansCJK-webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
  font-weight: normal; }
body {
  overflow: hidden; }

.w1 > .navbar-default {
  position: relative;
  overflow: hidden;
  background: none;
  border: none; }
  .w1 > .navbar-default .navbar-collapse {
    border: none;
    box-shadow: none; }
  .w1 > .navbar-default .navbar-collapse.in {
    height: 100%; }

.navbar-default .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .navbar-default .navbar-nav li {
    padding-top: 35px;
    margin: auto;
    padding-bottom: 40px; }
    .navbar-default .navbar-nav li a {
      font-weight: 500;
      padding: 0 0 5px 0;
      margin: 15px 0;
      color: #383c3c;
      border-bottom: 1px solid #fbfaf5; }
      @media screen and (min-width: 768px) {
        .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
          border-bottom: 1px solid #383c3c; } }

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li {
    padding-top: 30px;
    margin-right: 7px;
    padding-bottom: 30px;
    border-top: none; }
    .navbar-default .navbar-nav > li a {
      font-size: 20px; }
    .navbar-default .navbar-nav > li:hover {
      border-bottom-color: #fbfaf5; } }
@media screen and (max-width: 380px) {
  .navbar-default .navbar-nav > li {
    padding-top: 15px;
    margin-right: 7px;
    padding-bottom: 15px;
    border-top: none; } }
.navbar-default .navbar-toggle {
  margin-top: 7px;
  border: none;
  background: none; }
  .navbar-default .navbar-toggle .icon-bar {
    width: 20px;
    background-color: #383c3c; }
  .navbar-default .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none; }

@media screen and (max-width: 760px) {
  .navbar-header > button, .navbar-header a {
    z-index: 5; } }
@media screen and (min-width: 760px) {
  .navbar-collapse.show760#bs-example-navbar-collapse-1 {
    display: none !important; } }
/* user defined navbar */
@media screen and (max-width: 760px) {
  #bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #383c3c; }
    #bs-example-navbar-collapse-1 .navbar-toggle {
      position: absolute;
      top: -3px;
      right: -2px; }
      #bs-example-navbar-collapse-1 .navbar-toggle svg {
        width: 23px;
        height: 23px; }

  #bs-example-navbar-collapse-1 a {
    font-size: 18px;
    color: #fbfaf5; }
    #bs-example-navbar-collapse-1 a:hover, #bs-example-navbar-collapse-1 a:focus {
      background-color: #999b98; }

  #bs-example-navbar-collapse-1 .nav {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    padding-top: 30%;
    height: 100%; }
    #bs-example-navbar-collapse-1 .nav li {
      width: 100%;
      height: 13%;
      margin: 5% 0 2%; }

  .navbar-header svg {
    display: block;
    border: none;
    height: 25px;
    width: 25px; } }
#company {
  height: calc(40vh + 365px);
  color: #383c3c; }
  @media screen and (max-width: 414px) {
    #company {
      height: calc(40vh + 296px); } }
  #company .h1 {
    margin: 16vh 0 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -9999px;
    overflow: hidden; }
    @media screen and (max-width: 414px) {
      #company .h1 {
        margin: 7vh 0 5rem; } }
    @media screen and (max-width: 340px) {
      #company .h1 {
        margin: 3vh 0 5rem; } }
    #company .h1 svg {
      width: 326px;
      transform: translateX(-26px); }
      @media screen and (max-width: 760px) {
        #company .h1 svg {
          transform: translateX(-26px) scale(0.75); } }
      @media screen and (max-width: 340px) {
        #company .h1 svg {
          width: 162px;
          transform: translateX(-26px); } }
  #company .explain_regular p {
    margin: auto;
    font-size: 1.42rem;
    line-height: 1.9; }
  #company .icon_explain, #company .flex_icon {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    max-width: 760px;
    margin: 0 0 1.5rem; }
  #company .flex_icon {
    height: 135px; }
    #company .flex_icon .img {
      width: 64px; }
      @media screen and (max-width: 414px) {
        #company .flex_icon .img {
          transform: scale(0.8); } }
    #company .flex_icon .img:first-child {
      margin-left: 4px; }

#market .market-size {
  position: relative;
  margin-top: 5.5rem;
  padding: 3px 10%;
  text-align: left;
  color: #fbfaf5; }
  #market .market-size .unslider-nav {
    margin-top: 7.9rem; }
    #market .market-size .unslider-nav ol {
      list-style: none;
      text-align: left; }
      #market .market-size .unslider-nav ol li {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: none;
        width: 20%;
        max-width: 80px;
        height: 1px;
        background-color: #585858;
        overflow: hidden;
        text-indent: -999em;
        cursor: pointer; }
      #market .market-size .unslider-nav ol li.unslider-active {
        background-color: #fbfaf5; }
  #market .market-size .h2 {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    @media screen and (max-width: 380px) {
      #market .market-size .h2 {
        font-size: 28px; } }
    @media screen and (max-width: 330px) {
      #market .market-size .h2 {
        font-size: 24px; } }
    #market .market-size .h2 span {
      color: #f0b54a; }

@media screen and (max-width: 330px) {
  #product .container {
    padding: 0 5px; } }
#product .serial-title {
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
  vertical-align: top; }
  #product .serial-title .h2 {
    line-height: 1.2; }
    @media screen and (max-width: 380px) {
      #product .serial-title .h2 {
        font-size: 28px; } }
    @media screen and (max-width: 330px) {
      #product .serial-title .h2 {
        font-size: 24px; } }
@media screen and (max-width: 760px) {
  #product .serial-title p span {
    display: block; } }
#product .works {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
  max-width: 646px;
  height: 125px;
  border-bottom: 1px solid #999b98; }
  @media screen and (max-width: 760px) {
    #product .works {
      height: 100px; } }
  @media screen and (max-width: 600px) {
    #product .works {
      height: 75px; } }
  @media screen and (max-width: 380px) {
    #product .works {
      height: 68px; } }
  @media screen and (max-width: 340px) {
    #product .works {
      height: 64px; } }
  #product .works .box:first-child {
    border-top-left-radius: 2px;
    border-left: 1px solid #e9e8e4; }
  #product .works .box:last-child {
    border-top-right-radius: 2px;
    border-right: 1px solid #e9e8e4; }
  #product .works .box {
    position: relative;
    height: 100%;
    border-top: 1px solid #e9e8e4;
    border-left: 1px solid #e9e8e4;
    border-right: 1px solid transparent;
    background-color: #fbfaf5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    #product .works .box .img {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-3px); }
      #product .works .box .img svg {
        width: 64px; }
        @media screen and (max-width: 760px) {
          #product .works .box .img svg {
            transform: translateY(-5%) scale(0.6); } }
        @media screen and (max-width: 380px) {
          #product .works .box .img svg {
            transform: translateY(-5%) scale(0.5); } }
  #product .works .box.active {
    height: calc(100% + 1px);
    border-top: 1px solid #999b98;
    border-right: 1px solid #999b98;
    border-left: 1px solid #999b98;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 100; }
  #product .works .box > .arrow {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 12px;
    height: 12px;
    transform: translateX(-50%);
    transition: all 0.5s; }
    @media screen and (max-width: 760px) {
      #product .works .box > .arrow {
        width: 8px;
        height: 8px; } }
  #product .works .box.active > .arrow {
    transform: translateX(-50%) rotate(180deg); }
#product .tabC {
  margin: 0 auto;
  max-width: 646px;
  height: 20vh;
  text-align: center;
  border-left: 1px solid #999b98;
  border-bottom: 1px solid #999b98;
  border-right: 1px solid #999b98;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow-y: hidden; }
#product .tabContent {
  position: relative;
  display: none;
  margin: 0 auto;
  height: 100%; }
  #product .tabContent p {
    padding: 0 5%;
    width: 100%;
    font-size: 1.1rem; }
#product .explain_sm {
  margin: 1rem 6% 8%;
  padding: 10% 6%;
  border: 1px solid;
  border-radius: 2px;
  background-color: #fbfaf5;
  /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
  /*定义滚动条的轨道，内阴影及圆角*/
  /*定义滑块，内阴影及圆角*/ }
  #product .explain_sm ul {
    margin: auto;
    overflow-y: auto;
    padding: 0 30px;
    max-width: 616px;
    height: 50vh;
    max-height: 590px;
    text-align: left;
    list-style-type: square; }
    #product .explain_sm ul > li {
      font-size: 1.17rem;
      font-weight: normal;
      color: #383c3c; }
    #product .explain_sm ul li + li {
      margin-top: 45px; }
  #product .explain_sm .scrollbar::-webkit-scrollbar {
    width: 2px; }
  #product .explain_sm .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 none;
    border-radius: 0; }
  #product .explain_sm .scrollbar::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 none;
    background-color: #999b98; }

#team {
  margin-top: 90px;
  text-align: center; }
  #team .h2 {
    margin-top: 40px; }

.members {
  width: 88%;
  min-width: 280px;
  margin: auto; }
  .members > .tabContent {
    display: none;
    width: 100%;
    border-left: 1px solid #383c3c;
    border-right: 1px solid #383c3c;
    border-bottom: 1px solid #383c3c;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
    .members > .tabContent .member-l {
      display: flex;
      align-items: flex-end;
      margin-bottom: 80px;
      padding: 0 8%;
      text-align: left; }
      .members > .tabContent .member-l .h3 {
        display: inline-block;
        margin: 7% 0;
        font-weight: 600; }
      .members > .tabContent .member-l .explain {
        padding-top: 10px;
        padding-bottom: 7%;
        font-size: 1.5rem;
        font-weight: 600; }
      .members > .tabContent .member-l .wl {
        margin: 7% 20px;
        height: 34px;
        width: 3px;
        background-color: #383c3c; }
        @media screen and (max-width: 760px) {
          .members > .tabContent .member-l .wl {
            height: 24px; } }
    .members > .tabContent:nth-of-type(7) .member-l > p:first-child {
      margin-top: 116px; }
    .members > .tabContent .member-r {
      display: -webkit-flex;
      display: flex;
      padding: 0 8% 15%;
      flex-direction: column;
      justify-content: space-around;
      text-align: left; }
      .members > .tabContent .member-r > .explain_regular {
        margin-bottom: 8px;
        padding-left: 30px; }
        .members > .tabContent .member-r > .explain_regular > li {
          padding-left: 7px;
          font-size: 1.17rem;
          list-style-type: square;
          line-height: 1.8; }
  .members > .box {
    position: relative;
    margin: 12px 0 0;
    padding: 0 8%;
    height: 72px;
    line-height: 72px;
    border: 1px solid #383c3c;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #383c3c;
    text-align: left;
    cursor: pointer;
    transition: all 0.5s; }
    @media screen and (max-width: 768px) {
      .members > .box {
        margin: 10px 0 0;
        height: 7vh;
        line-height: 7vh; } }
    .members > .box span {
      font-weight: 600; }
    .members > .box span:nth-child(2) {
      margin-left: 5px;
      margin-right: 13px; }
    .members > .box .square_dot {
      width: 4px;
      height: 4px;
      background-color: #383c3c; }
    .members > .box .plus {
      position: absolute;
      top: 50%;
      right: 8%;
      width: 20px;
      height: 20px;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 767px) {
        .members > .box .plus {
          width: 14px;
          height: 14px; } }
      .members > .box .plus svg {
        position: absolute; }
    .members > .box .gray-line {
      display: none;
      position: absolute;
      top: 0;
      height: calc(100% + 1px);
      width: 83%;
      border-bottom: 1px solid #999b98; }
  .members > .box.active {
    border-top: 1px solid #383c3c;
    border-left: 1px solid #383c3c;
    border-right: 1px solid #383c3c;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .members > .box.active .plus svg path:last-child {
      display: none; }
    .members > .box.active .gray-line {
      display: block; }

@media screen and (max-width: 760px) {
  html {
    font-size: 8px; } }
#join_us {
  margin: 25vh auto; }
  #join_us .member-r {
    padding-bottom: 8%;
    padding-top: 56px;
    overflow-y: auto;
    justify-content: flex-start; }
  #join_us .explain_regular {
    position: relative;
    margin-bottom: 40px;
    margin-left: 60px; }
    #join_us .explain_regular li {
      list-style-type: disc; }
  #join_us .description {
    position: absolute;
    top: 0;
    left: -60px;
    font-size: 1.17rem;
    font-weight: 600;
    line-height: 1.8; }
  @media screen and (max-width: 767px) {
    #join_us {
      margin: 14vh auto; }
      #join_us .explain_regular {
        margin-left: 0; }
      #join_us .description {
        position: absolute;
        top: -20px;
        left: 10px;
        font-size: 1.17rem;
        line-height: 1.8; } }

#contact {
  position: relative;
  padding-bottom: 149px;
  color: #fbfaf5; }
  #contact .h2 {
    margin: 80px 0; }
  #contact .contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; }
    #contact .contact-information p {
      position: relative;
      margin-left: 40%;
      font-weight: 300;
      vertical-align: bottom; }
      #contact .contact-information p i {
        position: absolute;
        top: 50%;
        height: 16px;
        transform: translate(-70px, -50%); }
        #contact .contact-information p i svg {
          height: 12px; }
    @media screen and (max-width: 767px) {
      #contact .contact-information p {
        margin-left: 30%; } }
    @media screen and (max-width: 420px) {
      #contact .contact-information p {
        margin-left: 28%; }
        #contact .contact-information p i {
          position: absolute;
          top: 50%;
          transform: translate(-60px, -50%); } }
    @media screen and (max-width: 380px) {
      #contact .contact-information p:last-child {
        text-indent: -3rem;
        transform: translateX(3rem);
        max-width: 146px; }
        #contact .contact-information p:last-child i {
          position: absolute;
          top: 25%;
          transform: translate(-36px, -50%); } }

.scrollup {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #383c3c; }
  .scrollup svg {
    width: 18px; }

/*# sourceMappingURL=index.css.map */
